# Java / Maven
backend/target/
*.class
*.jar
*.war

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Docker
.docker/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Secrets
*.env
secrets/


# Certificats TLS locaux 
tls.key
tls.crt
*.key
*.crt